body
{
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  width: 100%;
  
}

.body
{
  background-color: antiquewhite;
  align-items: center;
  width: 800px;

 
  padding: 2em 2em;
}



.choice
{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
 button
{

    border: 1px solid coral;
    background-color: coral;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    margin-bottom: 1em;
}

button:hover
{
  cursor: pointer;
}

.choice-user, .choice-comp, .winner
{
  font-size: 1.5em;
  margin: 1.2em 0;
}